<div class="container p-4">
  <div class="row">
    <div class="container centrar">
      <a class="btn centrar2" href="/links">Volver</a>
    </div>
    {{#if products}}
      {{#each products}}

        <div class="container bck mt-2">
          <div class="row">
            <div class="col-md img">
              <img src="../../img/products/{{img}}">
            </div>
            <div class="col-md">
              
              <div class="card-body">
              
                <b>
                  <h3 class="card-title text-uppercase text-center">
                    {{name}}
                  </h3>
                </b>

                <p class="m-2">
                  <b>Cantidad: {{amount}}</b><br />
                  <b>Precio: {{price}}</b><br />
                </p>

                <h5>{{description}}</h5>

                <p class="text-muted">
                  {{timeago created_at}}
                </p>

                <a class="btn btn-danger" href="/links/delete/{{id}}">
                  Eliminar
                </a>
                <a class="btn btn-secondary" href="/links/edit/{{id}}">
                  Editar
                </a>
              </div>
            </div>
          </div>
      {{/each}}
    {{#if components}}        
      <div class="card card-body mb-3">
        <h2 class="card-title text-uppercase ml-2 col-7"> Componentes </h2>
        <a class="ml-auto btn" href="/links/addC">Registrar nuevo componente</a>
        <div class="list-group">
          <h6 class="card-subtitle mb-2 text-muted"> </h6>

          <table class="table">
                <thead>
                  <th>Nombre</th>
                  <th>Tipo</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Descripción</th>
                  <th> </th>
                </thead>
                {{#each components}}
                  <tbody>
                    <!-- Con estructuras de control -->
                    <tr>
                      <td scope="row"> {{name}} </td>
                      <td> {{type}} </td>
                      <td> {{price}} </td>
                      <td> {{amount}} </td>
                      <td> {{description}} </td>
                      <td>
                        <a
                          href="/links/deleteC/{{id}}"
                          class="btn btn-danger"
                        >Eliminar</a>
                        <a
                          href="/links/editC/{{id}}"
                          class="btn btn-info"
                        >Editar</a>
                      </td>

                    </tr>
                  </tbody>
                {{/each}}
              </table>
        </div>
      </div>
    {{else}}

    <div class="col-md mt-3">
      <div class="card card-body text-center">
      <p>Aún no hay componentes guardados.</p>
      <a href="/links/addC"><b>Agregar componente!</b></a>
      </div>
    </div>

    {{/if}}
    {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>Aún no hay artículos registrados.</p>
          <a href="/links/add"><b>Agregar artículo!</b></a>
        </div>
      </div>
    {{/if}}
  </div>
</div>